.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* .row {
    padding: 100px;
}

.row-height {
    height: 70px;
    text-align: center;
    padding-top: 25px;
} */

/* .col-md-4 {
    background-color: #9ad482;
} */

/* .col-md-4 {
    border-radius: 15px 0 0 15px;
} */

/* .stripe {
    background-image: url("/public/images/15.png");
    background-repeat: repeat-x;
} */

/* SVG */

.small {
    font: italic 13px sans-serif;
}

.heavy {
    font: bold 30px sans-serif;
}

.big {
    font: italic 38px serif;
    fill: rgb(0, 0, 0);
}

button {
    display: block;
    margin: 10px;
}

.tableTitle {
    margin-top: 10px;
    text-align: center;
}

.table-wrapper-scroll-y {
    display: block;
    /* max-height: 500px; */
    height: 500px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}